<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="bg-dark ">

<div class="container-fluid">
    <div class="row" style="margin-top: 8%;">
        <div class="calendar col-md-12 col-lg-6 mx-auto">
            <div class="month"><a href="#" class="nav"><i class="fas fa-angle-left"></i></a>
                <div>Yanvar <span class="year">2019</span></div>
                <a href="#" class="nav"><i class="fas fa-angle-right"></i></a></div>
            <div class="days">
                <span>Ber</span>
                <span>Çax</span>
                <span>Çşb</span>
                <span>Cax</span>
                <span>Cüm</span>
                <span>Şmb</span>
                <span>Bzr</span>
            </div>
            <div class="dates ">
                <button>
                    <time>1</time>
                </button>
                <button>
                    <time>2</time>
                </button>
                <button>
                    <time>3</time>
                </button>
                <button>
                    <time>4</time>
                </button>
                <button>
                    <time>5</time>
                </button>
                <button>
                    <time>6</time>
                </button>
                <button>
                    <time>7</time>
                </button>
                <button>
                    <time>8</time>
                </button>
                <button>
                    <time>9</time>
                </button>
                <button>
                    <time>10</time>
                </button>
                <button>
                    <time>11</time>
                </button>
                <button>
                    <time>12</time>
                </button>
                <button>
                    <time>13</time>
                </button>
                <button>
                    <time>14</time>
                </button>
                <button>
                    <time>15</time>
                </button>
                <button>
                    <time>16</time>
                </button>
                <button>
                    <time>17</time>
                </button>
                <button class="today">
                    <time>18</time>
                </button>
                <button>
                    <time>19</time>
                </button>
                <button>
                    <time>20</time>
                </button>
                <button>
                    <time>21</time>
                </button>
                <button>
                    <time>22</time>
                </button>
                <button>
                    <time>23</time>
                </button>
                <button>
                    <time>24</time>
                </button>
                <button>
                    <time>25</time>
                </button>
                <button>
                    <time>26</time>
                </button>
                <button>
                    <time>27</time>
                </button>
                <button>
                    <time>28</time>
                </button>
                <button>
                    <time>29</time>
                </button>
                <button>
                    <time>30</time>
                </button>
                <button>
                    <time>31</time>
                </button>
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <button class="col-md-12 col-lg-6 mx-auto btn btn-lg btn-group-horizontal btn-outline-info ">5 gün. 250 manat</button>
    </div>
    <hr/>

    <div class="row">
        <input type="text" class="form-control-lg col-md-12 col-lg-6 mx-auto d-inline-flex " placeholder="Ad soyad">
    </div>
    <br/>

    <div class="row">
        <input type="text" class="form-control-lg col-md-12 col-lg-6 mx-auto  d-inline-flex" placeholder="Mobil nömrə">
    </div>
    <br/>

    <div class="row ">
        <input type="text" class="form-control-lg col-md-12 col-lg-6  mx-auto  d-inline-flex" placeholder="İlkin ödəniş">
    </div>
    <br/>

    <div class="row " >
		<div class="col-md-12 col-lg-6 mx-auto" style="padding: 0;">
		<button class="btn btn-group-horizontal btn-lg btn-outline-danger btn-custom-right">imtina</button>
		<button class="btn btn-group-horizontal btn-lg btn-outline-success btn-custom-left">tamamla</button>
		<div style="clear: both;"></div>
		</div>
        
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>